<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1930" type="text">
  <html>Student fra Henrik Madsens Skole, Kbh.</html>
</entry>
<entry date="1936" type="text">
  <html>Gift med Elisabeth (Lisbeth) Accheleie Bruhn Hjorth.</html>
</entry>
<entry date="1937-11" type="text">
  <html>Melder sig som frivillig på Folkefrontens side i den spanske borgerkrig.</html>
</entry>
<entry date="1937-12-29" type="text">
  <html>Datteren Ursula født.<!-- i Rønne --></html>
</entry>
</events>

