<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1848" type="text">
  <html>Studentereksamen fra Borgerdydskolen, Christianshavn.</html>
</entry>
<entry date="1854" type="text">
  <html>Medlem af studenterklubben "Oasen" (ophør 1856).</html>
</entry>
<entry date="1857" type="text">
  <html>Cand.theol.</html>
</entry>
<entry date="1861" type="text">
  <html>Modtager det Anckerske Legat.</html>
</entry>
<entry date="1861" type="text">
  <html>Udlandsrejse til Schweiz, Italien og Palæstina indtil 1863.</html>
</entry>
<entry date="1865" type="text">
  <html>Ægteskab med Marie Koës Hammerich.</html>
</entry>
<entry date="1866" type="text">
  <html>Forstander på Tune Højskole.</html>
</entry>
<entry date="1870" type="text">
  <html>Richardt: <i>Det hellige Land</i> (rejsebog i prosa og vers).</html>
</entry>
<entry date="1871" type="text">
  <html>Afgang fra Tune Højskole.</html>
</entry>
<entry date="1872" type="text">
  <html>Kapellan i Store Heddinge.</html>
</entry>
<entry date="1876" type="text">
  <html>Sognepræst i Ørsted pr. Årup, Vestfyn.</html>
</entry>
<entry date="1878" type="text">
  <html>Richardt: Librettoen til P. Heises opera <i>Drot og Marsk</i>.</html>
</entry>
<entry date="1886" type="text">
  <html>Præst til Vemmetofte Kloster.</html>
</entry>
<entry date="1887" type="text">
  <html>Ridder af Dannebrog.</html>
</entry>
<entry date="1889" type="text">
    <html>Richardt: <xref poem="richardt2002022301"/>. Gendigtning af J.O. Wallin: Dødens Engel.</html>
</entry>
</events>

