<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1884" type="text">
  <html>Student fra Odense.</html>
</entry>
<entry date="1891" type="text">
  <html>Cand. mag. i fransk, latin og tysk.</html>
</entry>
<entry date="1895" type="text">
  <html>Ægteskab med Karin Bech Brøndum.</html>
</entry>
<entry date="1911" type="text">
  <html>Første ægteskab opløst.</html>
</entry>
<entry date="1911" type="text">
  <html>Ægteskab med Astrid Nyström.</html>
</entry>
<entry date="1921" type="text">
  <html>Andet ægteskab opløst.</html>
</entry>
<entry date="1921" type="text">
  <html>Ægteskab med Louise Peschardt.</html>
</entry>
</events>

