<?xml version="1.0" encoding="ISO-8859-1"?>
<events>
<entry date="1752" type="text">
  <html>Begynder at læse medicin.</html>
</entry>
<entry date="1756" type="text">
  <html>Får sin dr. med. grad.</html>
</entry>
<entry date="1769" type="text">
  <html>Udnævnes til kongens livlæge.</html>
</entry>
<entry date="1769-05-12" type="text">
  <html>Udnævnes til etatsråd.</html>
</entry>
<entry date="1770" type="text">
  <html>Udnævnes til konferensråd.</html>
</entry>
<entry date="1770" type="text">
  <html>Udnævnes til geheimekabinets-minister.</html>
</entry>
<entry date="1770-01-17" type="text">
  <html>Struensee arresteres og føres til Kastellet.</html>
</entry>
<entry date="1770-04-27" type="text">
  <html>Struensee henrettes, parteres og lægges på stejle.</html>
</entry>
</events>

