<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1752" type="text">
  <html>Begynder at læse medicin.</html>
</entry>
<entry date="1756" type="text">
  <html>Får sin dr. med. grad.</html>
</entry>
<entry date="1768-04-05" type="text">
  <html>Udnævnes til kongens livlæge.</html>
</entry>
<entry date="1769-05-12" type="text">
  <html>Udnævnes til etatsråd.</html>
</entry>
<entry date="1770" type="text">
  <html>Udnævnes til geheimekabinets-minister og konferensråd.</html>
</entry>
<entry date="1770-09-14" type="text">
  <html>Ved reskript indføres trykkefrihed under Struensees kortvarige 
  regeringstid. Første fri skrift som udkommer er 
  Ewalds <a v="ewald/1770"><i>Philet</i></a></html>
</entry>
<entry date="1772-01-17" type="text">
  <html>Struensee arresteres og føres til Kastellet.</html>
</entry>
<entry date="1772-04-28" type="text">
  <html>Struensee henrettes, parteres og lægges på stejle.</html>
</entry>
</events>

