<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1670" type="text">
  <html>Student.</html>
</entry>
<entry date="1677" type="text">
  <html>Sognepræst i Føvlum og Ullits ved Limfjorden.</html>
</entry>
<entry date="1681" type="text">
  <html>Provst i Gislum herred.</html>
</entry>
<entry date="1693" type="text">
  <html>Provst i Aars herred.</html>
</entry>
<entry date="1698" type="text">
  <html>Magister.</html>
</entry>
</events>

