<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1871" type="text">
  <html>Sendes til England af forældrene, hos plejefamilie til 1875.</html>
</entry>
<entry date="1878" type="text">
  <html>Begynder studier på United Services College.</html>
</entry>
<entry date="1882" type="text">
  <html>Rejser atter til Indien, virker dér som journalist.</html>
</entry>
<entry date="1889" type="text">
  <html>Vender tilbage til England.</html>
</entry>
<entry date="1892" type="text">
  <html>Ægteskab med Caroline Balestier.</html>
</entry>
<entry date="1899" type="text">
  <html>Krigskorrespondent i Sydafrika under Boerkrigen (vender hjem året efter).</html>
</entry>
<entry date="1907" type="text">
  <html>Modtager Nobelprisen i litteratur. Æresdoktor ved Oxford University.</html>
</entry>
<entry date="1908" type="text">
  <html>Æresdoktor ved Cambridge University.</html>
</entry>
<entry date="1915" type="text">
  <html>Mister sin søn i 1. verdenskrig.</html>
</entry>
<entry date="1921" type="text">
  <html>Æresdoktor ved Sorbonne.</html>
</entry>
</events>
