<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1892" type="text">
  <html>Ægteskab med Rigne Juliane Vilhelmine Warhuus.</html>
</entry>
<entry date="1901" type="text">
  <html>Ægteskab med Petrine Margrethe Kofoed.</html>
</entry>
<entry date="1915" type="text">
  <html>Ægteskab med Thyra Ulrik.</html>
</entry>
</events>
