<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1883" type="text">
  <html>Student fra Hauchs skole.</html>
</entry>
<entry date="1884" type="text">
  <html>Cand. phil.</html>
</entry>
<entry date="1892" type="text">
  <html>Ægteskab med Rigne Juliane Vilhelmine Warhuus.</html>
</entry>
<entry date="1901" type="text">
  <html>Ægteskab med Petrine Margrethe Kofoed.</html>
</entry>
<entry date="1915" type="text">
  <html>Ægteskab med Thyra Ulrik.</html>
</entry>
<entry date="1918" type="text">
  <html>Konsulent ved Gyldendal til sin død.</html>
</entry>
</events>
