<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1777" type="text">
  <html>Filologisk embedseksamen.</html>
</entry>
<entry date="1777" type="text">
  <html>Flygter til Sverige pga. gæld. Senere ophold i Bergen.</html>
</entry>
<entry date="1790-05-07" type="text">
  <html>Gift med <a poet="gyllembourg">Thomasine Christine Buntzen</a>.</html>
  <!-- Sankt Nicolaj kirke, Kbh. -->
</entry>
<entry date="1791-12-14" type="text">
  <html>Får sønnen <a poet="heibergjl">Johan Ludvig</a>.</html>
</entry>
<entry date="1785" type="text">
  <html>Vender tilbage til København.</html>
</entry>
<entry date="1799-12-25" type="text">
  <html>Forvist fra "Kongens Riger og Lande" for aldrig at vende hjem igen.</html>
</entry>
<entry date="1801" type="text">
    <html>Skilsmisse fra <a href="gyllembourg">Thomasine</a>.</html>
</entry>
<entry date="1817" type="text">
  <html>Pensioneres som kontorchef i det franske udenrigsministeriums oversættelsesbureau.</html>
</entry>
<!--
<entry date="" type="text">
  <html></html>
</entry>
<entry date="" type="text">
  <html></html>
</entry>
-->
</events>

