<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1679" type="text">
  <html>Teologisk eksamen.</html>
</entry>
<entry date="1680" type="text">
  <html>Udlandsrejse indtil 1682.</html>
</entry>
<entry date="1685" type="text">
  <html>Forpagtede den fædrende gård Lynderupgård nord for Viborg.</html>
</entry>
<entry date="1703" type="text">
  <html>Overtager herregården Ristrup ved Århus.</html>
</entry>
<entry date="1703" type="text">
  <html>Udnævnelse til landsdommer.</html>
</entry>
</events>

