node_modules
.next
.git
.github
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
caches
public/api
public/sitemaps
public/facsimiles
public/Kalliope.ics
public/generated
public/images
public/kunst
