# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
.env
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches used by build-json
caches

# Generated JSON files
public/api
public/generated

# Generated XML sitemap
public/sitemap.xml    
public/sitemaps/*.xml

# Generated thumbnails
public/**/*-w????.jpg
public/**/*-w???.jpg
public/**/*-w??.jpg
public/**/*-w????.webp
public/**/*-w???.webp
public/**/*-w??.webp
public/images/*/social

# Facsimiles
public/facsimiles

# iCal kalender
public/Kalliope.ics
