AddHandler cgi-script .cgi .pl
Options +ExecCGI +FollowSymlinks
DirectoryIndex index.cgi

# http://www.askapache.com/htaccess/modrewrite-tips-tricks.html
# http://stackoverflow.com/questions/3439668/multilanguage-site-subdirectories-as-language-rewriterule

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_URI} ^\/(en|da)\/
RewriteRule ^(da|en)/(.*)$ $2?prefer-lang=$1&pis=%{REQUEST_URI}&%{QUERY_STRING} [L]

#
# Cache control
#
ExpiresActive On
ExpiresDefault "access plus 2 hours"
ExpiresByType image/png "access plus 4 hours"

