acronym {
   text-decoration: none;
   border: none;
}

a.timecontext:link, a.timecontext:visited, a.timecontext:active { 
    text-decoration: none; 
}
a.timecontext:hover {
    border-bottom: 1px solid #f040f0
}

.blue {
    color: rgb(16,102,123);
}

a.framed {
    border: 1px solid black;
    padding: 1px;
}

span.newsdate {
    border-bottom: 1px solid rgb(117,106,89);
    color: rgb(117,106,89);
    display: block;
    font-weight: bold;	     
    text-align: right;
    font-size: 14px;
    margin-bottom: 4px;
}

.oversigt TH {
   background-color: rgb(117,106,89);
  color: #e5dcb5;
}

.darker TD {
    background-color: #e2e2d2;
}

footnote {
    display: none;
}

.red {
    color: rgb(139,56,65);
}

input.button {
    background-color: rgb(139,56,65);
    color: white;
    font-size: 8pt;
    font-weight: bold;
    border-bottom: 2px solid rgb(69,0,0);
    border-right: 2px solid rgb(69,0,0);
    border-top: 2px solid rgb(209,126,125);
    border-left: 2px solid rgb(209,127,125);
}

input.search {
    font-size: 11px;
    background-color: #eaeada;
    width: 100px;
    border: 1px solid black;
    padding: 2px;
}

.inputtext {
    background-color: #F0f0e3;
}

span.wide {
    letter-spacing: 0.2em;
}

td {
    font-size: 13px;
}

td.timeline {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-family: Arial, Helvetica, SansSerif; 
  font-size: 12px;
  border: 1px;
  color: black;
  text-align: center;
  background-color: rgb(225,225,214);
}

td.ffronttitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

td.ffrontdesc {
    color: #808080;
    font-size: 11px; 
}

td.boxheaderlayer {
    color: black;
    font-size: 14px;
    font-weight: 800;
}

div.nav {
/*    background-color: white; */
/*    height: 100px;*/
      background-color: black;
      color: white;
}

body {
    font-family: 'PT Serif', serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    background-color: #c0c0c0;
    padding: 0px;
    margin: 0px;
}

div.biothumb {
    width: 150px;
    font-size: 8px;
    color: #808080;
    border: 1px solid #808080;
    padding: 2px;
    text-align: justify;
}

a.biothumb {
    color: #808080;

}

a:link, a:visited, a:active { text-decoration: none; }
a:hover { color: #404040 }

a.leftframe:link, a.leftframe:visited, a.leftframe:active { 
    text-decoration:none;
    color: rgb(119,152,193);
    border: 0px;
}
a.leftframe:hover {
    color: rgb(19,52,93);

}

a.white:link, a.white:visited, a.white:active { 
    text-decoration:none;
    color: rgb(217,206,189);

}

a.green:link, a.green:visited, a.green:active { 
    color: rgb(139,56,65)
}

a.green:hover {
      color: rgb(139,56,65)
}

a.blue:link, a.blue:visited, a.blue:active { color: rgb(16,102,123)}
p.hist { text-align: justify }

span.gray {
    color: #808080;
}

span.gray a.green {
     color: rgb(159,92,99);
}

td.textboxheader  { 
padding: 0pt 0pt 0pt 0pt;
margin: 0pt 0pt 0pt 0pt;
	font-size: 12pt;
        color: white;
	font-family: Sans-serif;
	background-color: #6384ad;
}

h1, h2, h3 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

	
td.textboxcontent { 
    padding: 0pt 0pt 0pt 0pt; 
    margin: 0pt 0pt 0pt 0pt;
}

td.topframetitel {
    font-family: Georgia, Times;
    font-size: 40px;
    color: white; 
    text-align: right;
}

.listeoverskrifter {
    font-family: Arial, Helvetica;
    font-size: 14px;
    color: rgb(117,106,89);
    font-weight: 800;
    width: 100%;
    border-bottom: 1px solid rgb(117,106,89);;
}

p.digtliste {
    text-indent: -20px;
    padding-left: 20px;
    margin: 0px;
}

legend {
   font-weight: 100;
   color: rgb(99,132,173);
   font-family: Arial, Helvetica;
   font-size: 8pt;
}
       
fieldset {
  padding: 5pt;
  text-align: center;
  font-size: 13px;
  font-family: Arial,Helvetica;
  border: 1px solid #808080;
}

td.stat {
   font-family: Arial;
   font-size: 13px;
}

div.poem-body, div.prose-body {
    font-family: 'PT Serif', serif;
}

h1.digtoverskrift {
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}

h2.digtunderoverskrift {
    font-weight: normal;
    font-size: 10px;
}

span.workunderoverskrift {
    font-size: 14px;
}


td.breadcrumbs {
    background-color: #fafaea;
    font-size: 11px;
    height: 10px;
    color: #808080;
    border-bottom: 1px solid #c7bb95;
    text-align: left;
}

td.navigation {
    color: rgb(117,106,89); 
    background: url(gfx/frames/left.gif);
    width: 138px;
    vertical-align: top;
    height: 320px;
}

td.paper {
    width: 100%;
    vertical-align: top;
}

td.top {
  /*  vertical-align: middle;*/
    font-size: 32px;
    font-weight: normal;
    font-family: Arial, Helvetica;
    padding-left: 10px;
    background: url(gfx/frames/paper-dark.png);
    background-color: #e5dcb5;
    text-align: left;	   
}

div.boxbook {
    font-family: Georgia, Times, serif;
}

div.morelinks a {
    color: #857c55;
    font-size: 11px;
}

a.more {
    color: #857c55;
    font-size: 11px;
}

a.more:after {
   content: "\25B8";
}

/* Omkringliggende div */

div.body {
    border: 1px solid #333333;
    background-color: #eaeada;
    width: 770px;
    margin-top: 18px;
}

div.bodypopup {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    background-color: #eaeada;
}

/* Sidens overskrift */


span.subtitle {
    color: rgb(117,106,89);
    font-size: 18px;	   
    text-align: left;	   
}

/* Sub menu */

a.submenu {
    color: #f0f0f0; 
}
a.submenu:hover {
    color: white;
}

/* Work TOC */

td.toctitle1 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
}

td.tocgroup1 {
    padding-bottom: 10px;
}

td.toctitle2 {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}

td.tocgroup2 {
    padding-bottom: 10px;
}

td.toctitle3 {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
}

td.tocgroup2 {
    padding-bottom: 10px;
}

td.tocnum {
    color: #808080;
    text-align: right;
    padding-right: 5px;
    width: 5px;
    vertical-align: top;   
}

/* Bibliografi */

p.bibliografi {
    text-indent: -20px;
    padding-left: 20px;
}

div.noter {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    
div.noter p {
   padding: 0px;
   margin: 0px;
   text-indent: 10pt;	   
}

/* sidebars */

div.morelinks {
    padding-top: 40px;
}

/* div layout */

div.clear {
    clear: both;
}

div.site { 
    width: 770px;
}

div.breadcrumbs {
    background-color: #fafaea;
    font-size: 10px;
    color: #444;
    border-bottom: 1px solid #c7bb95;
    text-align: left;
    height: 13px;
    padding: 2px 0 1px 0;
}

div.breadcrumbs a {
    color: #888;
}

div.topsection {
    width: 770px;
    height: 164px;
    background: url(gfx/frames/topsection.png) top right repeat-x;
    position: relative;
}

div.submenu {
    height: 13px;
    background: #ab201e;
    color: #f0f0f0;
    color: rgba(255,255,255,0.9);
    position: absolute;
    right: 10px;
    bottom: 76px;
    font-size: 11px;
    padding: 2px 10px 1px 10px;
    border-radius: 2px;
/*    font-style: italic;*/
/*    text-transform: uppercase;*/
    
    
    -moz-box-shadow: 1px 1px 2px black;
    -webkit-box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
}

div.maintitle {
    position: absolute;
    left: 32px;
    top: -60px;
    text-align: left;
}

div.maintitle h1 {
    color: black;
    color: rgba(0,0,0,0.9);
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

div.maintitle h2 {
    color: rgb(117,106,89);
    font-size: 18px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}


div.middlesection {
    width: 770px;
    background: url(gfx/frames/left.gif) repeat-y;
    padding-bottom: 40px;
    min-height: 400px;
}

div.navigation {
    width: 139px;
    float: left;
}

div.toppart {
    height: 164px;
}

div.paper {
    float: left;
    width: 631px;
    position: relative;
}

div.paper-content {
    width: auto;
    padding: 20px 10px 0 10px;
}


div.columnholder {
    width: 100%;
}

div.column {
    float: left;
}

div.column80 {
    width: 80%;
}

div.column20 {
    width: 20%;
}

div.column50 {
    width: 50%;
}

div.column70 {
    width: 70%;
}

div.column30 {
    width: 30%;
}

div.columnrule {
    border-left: 1px solid #888;
    border-left: 1px solid rgba(0,0,0,0.5);
}


div.column-content {
    padding: 0 20px 0 20px;
}

div.footer {
    border-top: 1px solid #c7bb95;
    background-color: #fafaea;
    padding: 10px 10px 10px 10px;
}

div.footer div.searchbox {
    float: left;
    height: 0;
}

div.footer div.flags {
    float: right;
}

/* mainmenu */

div.mainmenu {
    padding-top: 48px;
}

div.mainmenu ul {
    margin-left: 10px;
    padding-left: 0;
}
div.mainmenu ul li {
    position: relative;
    display: block;
    width: 70px;
    background: #ab201e;
    color: #f0f0f0;
    border-radius: 2px;
    margin-bottom: 36px;
    text-align: left;
    padding: 1px 0 1px 48px;
    -moz-box-shadow: 1px 1px 2px black;
    -webkit-box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
}

div.mainmenu ul li.forside {
    display: none;
}

div.mainmenu ul li p {
    margin: 0;
    padding: 0;
}

div.mainmenu ul li p a {
    color: #f0f0f0;
    color: rgba(255,255,255,0.9);
}


div.mainmenu ul li img {
    height: 32px;
    position: absolute;
    left: 10px;
    top: -10px;
}


/* frontmenu elements */

div.frontmenu-item {
    padding-bottom: 20px;
}

div.frontmenu-item div.icon {
    float: left;
    margin-right: 20px;
    width: 50px;
}

div.frontmenu-item div.title {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

div.frontmenu-item div.descr {
    color: #808080;
    font-size: 11px; 
}

div.prose-body {
    
}

div.poem-body {
    padding-left: 20px;
}

div.poem-body p {
    margin: 0;
    padding: 0;
    position: relative;
}

div.poem-body p span.linenumber {
    font-size: 9pt; 
    color: #808080; 
    left: -25px;
    top: 0;
    text-align: right;
    position: absolute;
}

/* Special style for smart phones */
@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust:none;
        padding: 5px;
    }
    
    div {
      clear:both!important;
      display:block!important;
      width:100%!important;
      height: auto;
      float:none!important;
      margin:0!important;
      padding:0!important;
      position: relative!important;
      left: 0!important;
      top: 0!important;
      background:#eaeada;
      border: 0;
      text-align: left;
      clear: both;
      min-height: 0;
    }

    div.body {
        border: 1px solid black;
    }

    div.breadcrumbs {
        display: none!important;
    }

    div.layout div.site, div.layout div.topsection {
        width: 100%;
    }
    
    table {
        width: 100%;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    div.topsection {
        height: auto;
    }
    
    .topsection img {
        display: none;
    }
    
    div.submenu {
        display: none!important;
    }
    
    div.middlesection {
        background-image: none;
    }
    
    div.paper-content {
        width: auto!important;
        padding: 10px!important;
    }

    div.maintitle {
        padding-top: 4px!important;
        padding-bottom: 4px!important;
        background-color: #e5dcb5;
        -webkit-box-shadow: 0px 4px 5px black;
        -moz-box-shadow: 0px 4px 5px black;
        box-shadow: 0px 4px 5px black;
        z-index: 1000;
    }

    div.maintitle h1 {
        color: black;
        font-size: 18px;
        float: left;
        padding-right: 4px;
        padding-left: 8px;
        clear: none!important;
        width: auto!important;
        background-color: transparent!important;
    }


    div.maintitle h2 {
        color: black;
        font-size: 18px;
        float: left;
        clear: none!important;
        width: auto!important;
        background-color: transparent!important;
    }

    /* frontmenu elements */

    div.frontmenu-item {
        margin-bottom: 10px!important;
        width: 100%;
    }

    div.frontmenu-item div.icon {
        float: left!important;
        width: 50px!important;
        clear: left!important;
    }

    div.frontmenu-item div.title {
        width: auto!important;
        clear: none!important;
        margin-left: 60px!important;
    }

    div.frontmenu-item div.descr {
        width: auto!important;
        clear: none!important;
        margin-left: 60px!important;
    }
    
    /* mainmenu */

    div.mainmenu {
        z-index: 2000;
        -webkit-box-shadow: 0px 4px 5px black;
        -moz-box-shadow: 0px 4px 5px black;
        box-shadow: 0px 4px 5px black;
        background: #ab201e;
    }

    div.mainmenu ul {
        padding: 4px 0 2px 0;
        margin: 0;
        width: 100%;
    }
    
    div.mainmenu ul li {
        display: inline-block;
        position: relative;
        width: 20%;
        text-align: center;
        padding: 0;
        margin: 0;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    div.mainmenu ul li.forside {
        display: inline-block;
    }
    

    div.mainmenu ul li p {
        clear: both;
    }

    div.mainmenu ul li img {
        position: relative;
        top: 0;
        left: 0;
        height: 48px;
        clear: both;
    }
    
    div.footer {
        padding: 10px 10px 10px 10px!important;
        clear: both!important;
        width: auto!important;
        -webkit-box-shadow: 0px -4px 5px black;
        -moz-box-shadow: 0px -4px 5px black;
        box-shadow: 0px -4px 5px black;
        z-index: 2000;
    }

    div.footer input {
        width: 100px;
    }

    div.footer div.searchbox {
        float: left!important;
    }

    div.footer div.flags {
        float: right!important;
        width: auto!important;
        background-color: #fafaea!important;
    }

    div.poem-body {
        padding-left: 20px!important;
        width: auto!important;
    }

    div.noter {
        padding-top: 20px!important;
/*
        background-color: #e5dcb5;
        padding: 10px 10px 10px 10px!important;
        clear: both!important;
        width: auto!important;
        -webkit-box-shadow: 0px -4px 5px black;
        -moz-box-shadow: 0px -4px 5px black;
        box-shadow: 0px -4px 5px black;
        z-index: 1000;
*/
    }
    
    div.quality, div.morelinks, div.noter span.keywords, div.boxdark div.listeoverskrifter {
        display: none!important;
    }

    div.prose-body {
        text-align: justify;
    }

    
}
