acronym {
   text-decoration: none;
   border: none;
}

A.timecontext:link, A.timecontext:visited, A.timecontext:active { text-decoration: none; }
A.timecontext:hover { border-bottom: 1px solid #f040f0}


.blue {
    color: rgb(16,102,123);
}

a.framed {
border: 1px solid black;
padding: 1px;
}

span.newsdate {
    font-family: Arial, Helvetica;
    border-bottom: 1px solid rgb(117,106,89);
    color: rgb(117,106,89);
    display: block;
    font-weight: bold;	     
    text-align: right;
    font-size: 14px;
    margin-bottom: 4px;
}

.oversigt TH {
  font-family: Arial, Helvetica;
   background-color: rgb(117,106,89);
  color: #e5dcb5;
}

.darker TD {
    background-color: #e2e2d2;
}

footnote {
    display: none;
}

.red {
    color: rgb(139,56,65);
}

INPUT.button {
    background-color: rgb(139,56,65);
    color: white;
    font-family:  Helvetica, Arial;
    font-size: 8pt;
    font-weight: bold;
    border-bottom: 2px solid rgb(69,0,0);
    border-right: 2px solid rgb(69,0,0);
    border-top: 2px solid rgb(209,126,125);
    border-left: 2px solid rgb(209,127,125);
}

input.search {
    font-size: 11px;
    background-color: #eaeada;
    width: 100px;
    border: 1px solid black;
    padding: 2px;
}

.inputtext {
    background-color: #F0f0e3;
}

SPAN.wide {
    letter-spacing: 0.2em;
}

TD {
    font-size: 13px;
}

TD.timeline {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-family: Arial, Helvetica, SansSerif; 
  font-size: 12px;
  border: 1px;
  color: black;
  text-align: center;
  background-color: rgb(225,225,214);
}

TD.ffronttitle {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

TD.ffrontdesc {
    color: #808080;
    font-family: Arial, Helvetica;
    font-size: 11px; 
}

TD.boxheaderlayer {
    color: black;
    font-family: Arial,Helvetiva;
/* text-align: center; */
font-size: 14px;
font-weight: 800;
}

DIV.nav {
/*    background-color: white; */
/*    height: 100px;*/
      background-color: black;
      color: white;
}

body {
    font-family: Arial, Helverica, SansSerif;
    background-color: #c0c0c0;
    padding: 0px;
    margin: 0px;
}

DIV.biothumb {
    width: 150px;
    font-size: 8px;
    font-family: Helvetica, Arial;
    color: #808080;
    border: 1px solid #808080;
    padding: 2px;
    text-align: justify;
}

A.biothumb {
    color: #808080;

}

A:link, A:visited, A:active { text-decoration: none; }
A:hover { color: #404040 }

A.leftframe:link, A.leftframe:visited, A.leftframe:active { 
    text-decoration:none;
    color: rgb(119,152,193);
    border: 0px;
}
A.leftframe:hover {
    color: rgb(19,52,93);

}

A.white:link, A.white:visited, A.white:active { 
    text-decoration:none;
    color: rgb(217,206,189);

}

A.green:link, A.green:visited, A.green:active { 
    color: rgb(139,56,65)
}

A.green:hover {
      color: rgb(139,56,65)
}

A.blue:link, A.blue:visited, A.blue:active { color: rgb(16,102,123)}
P.hist { text-align: justify }

span.gray {
    color: #808080;
}

span.gray a.green {
     color: rgb(159,92,99);
}

TD.textboxheader  { 
padding: 0pt 0pt 0pt 0pt;
margin: 0pt 0pt 0pt 0pt;
	font-size: 12pt;
        color: white;
	font-family: Sans-serif;
	background-color: #6384ad;
}

H1, H2, H3 {
    font-size: 18px;
    text-align: left;
    font-family: Arial, Helvetiva;
    font-weight: bold;
    color: rgb(139,56,65);
}

	
TD.textboxcontent { 
    padding: 0pt 0pt 0pt 0pt; 
    margin: 0pt 0pt 0pt 0pt;
}

TD.topframetitel {
    font-family: Georgia, Times;
    font-size: 40px;
    color: white; 
    text-align: right;
}

.listeoverskrifter {
    font-family: Arial, Helvetica;
    font-size: 14px;
    color: rgb(117,106,89);
    font-weight: 800;
    width: 100%;
    border-bottom: 1px solid rgb(117,106,89);;
}

p.digtliste {
    text-indent: -20px;
    padding-left: 20px;
    margin: 0px;
}

legend {
   font-weight: 100;
   color: rgb(99,132,173);
   font-family: Arial, Helvetica;
   font-size: 8pt;
}
       
fieldset {
  padding: 5pt;
  text-align: center;
  font-size: 13px;
  font-family: Arial,Helvetica;
  border: 1px solid #808080;
}

td.stat {
   font-family: Arial;
   font-size: 13px;
}

span.digtoverskrift {
    font-size: 18px;
}

span.workunderoverskrift {
    font-size: 14px;
}

span.digtunderoverskrift {
    font-size: 10px;
}


td.breadcrumbs {
    background-color: #fafaea;
    font-size: 11px;
    height: 10px;
    color: #808080;
    border-bottom: 1px solid #c7bb95;
    text-align: left;
}

td.navigation {
    color: rgb(117,106,89); 
    background: url(gfx/frames/left.gif);
    width: 138px;
    vertical-align: top;
    height: 320px;
}

/*
td.submenu {
    font-size: 11px;
    color: rgb(117,106,89); 
    background-color: #ebe7be;
    text-align: right;
    padding: 1px;
    height: 10px;	 
}
*/

td.paper {
    width: 100%;
    vertical-align: top;
}

td.top {
  /*  vertical-align: middle;*/
    font-size: 32px;
    font-weight: normal;
    font-family: Arial, Helvetica;
    padding-left: 10px;
    background: url(gfx/frames/paper-dark.png);
    background-color: #e5dcb5;
    text-align: left;	   
}

/* Styles used by Kalliope::Page::addBox() */

div.boxnormal {
   padding: 10px 10px 10px 10px;
}

div.boxbook {
    font-family: Georgia, Times, serif;
    padding: 10px 10px 10px 10px;
    height: 100%;		
}

div.boxdark {
   padding: 10px 10px 10px 10px;
}


div.morelinks a {
    color: #857c55;
    font-size: 11px;
}

a.more {
    color: #857c55;
    font-size: 11px;
}

a.more:after {
   content: url(gfx/right.gif);
}

/* Omkringliggende div */

div.body {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    background-color: #eaeada;
    width: 770px;
    margin-top: 18px;
}

div.bodypopup {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    background-color: #eaeada;
}

/* Sidens overskrift */

td.maintitle {
  /*  vertical-align: middle;*/
    font-size: 24px;
    font-weight: normal;
    font-family: Arial, Helvetica;
    padding-left: 25px;
    text-align: left;	   
}

span.subtitle {
    color: rgb(117,106,89);
    font-size: 18px;	   
    text-align: left;	   
}

/* Sub menu */

td.submenu {
    font-size: 11px;
    color: #d0d0d0;
    height: 2px;
    background: url(gfx/frames/small-menu-blank.gif);
    vertical-align: top;
}

a.submenu {
    color: #f0f0f0; 
}
a.submenu:hover {
    color: white;
}

/* Work TOC */

td.toctitle1 {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
}

td.tocgroup1 {
    padding-bottom: 10px;
}

td.toctitle2 {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}

td.tocgroup2 {
    padding-bottom: 10px;
}

td.toctitle3 {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    padding-top: 5px;
}

td.tocgroup2 {
    padding-bottom: 10px;
}

td.tocnum {
    color: #808080;
    text-align: right;
    padding-right: 5px;
    width: 5px;
    vertical-align: top;   
}

/* Bibliografi */

p.bibliografi {
    text-indent: -20px;
    padding-left: 20px;
}

div.noter {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    
div.noter p {
   padding: 0px;
   margin: 0px;
   text-indent: 10pt;	   
}

/* div layout */

div.clear {
    clear: both;
}

div.layout div {
    padding: 0;
    margin: 0;
}

div.layout div.site { 
    margin-top: 20px;
    width: 770px;
}

div.layout div.breadcrumbs {
    background-color: #fafaea;
    font-size: 11px;
    color: #808080;
    border-bottom: 1px solid #c7bb95;
    text-align: left;
    height: 13px;
}

div.layout div.topsection {
    width: 770px;
    height: 164px;
}

div.layout div.middlesection {
    width: 770px;
    background: url(gfx/frames/left.gif) repeat-y;
    padding-bottom: 40px;
    min-height: 400px;
}

div.layout div.navigation {
    width: 139px;
    float: left;
}

div.layout div.navigation div {
    padding-top: 40px;
    color: rgb(117,106,89); 
    width: 138px;
}

div.layout div.toppart {
    height: 164px;
}

div.layout div.paper {
    float: left;
    width: 631px;
    padding-top: 20px;
}

div.layout div.footer {
    border-top: 1px solid #c7bb95;
    background-color: #fafaea;
    padding: 10px 10px 10px 10px;
}

div.layout div.footer div.searchbox {
    float: left;
    height: 0;
}

div.layout div.footer div.flags {
    float: right;
}
