
.tree IMG {
  border: 0;
  height: 20px;
  vertical-align: top;
}

.tree TH {
  font-family: Arial, Helvetica;
  border-bottom: 1px solid black;
}

.tree A:hover {
   background-color: rgb(238,216,174);
}

.tree TD {
  font-family: Arial, Helvetica;
}

TABLE.tree {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: left;
}


th.forumheads {
    font-family: Arial, Helvetica;
    font-weight: bold;
}

.sel {
    font-family: Arial, Helvetica;
    color: white;
    background-color: #CC9966;
}

.unsel {
    font-family: Arial, Helvetica;
    color: #000000;
    background-color: transparent;
}

footnote {
    display: none;
}

INPUT.button {
    background-color: #AA7744;
    color: white;
    font-family:  Helvetica, Arial;
    font-size: 8pt;
    font-weight: bold;
    border-bottom: 2px solid #663300;
    border-right: 2px solid #663300;
    border-top: 2px solid #EEBB88;
    border-left: 2px solid #EEBB88;
}

.inputtext {
    background-color: #F0f0e3;
}

SPAN.wide {
    letter-spacing: 0.2em;
}

TD {
    font-family: Georgia, Times;
    font-size: 13px;
}

TD.timeline {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-family: Arial, Helvetica, SansSerif; 
  font-size: 12px;
  border: 1px;
  color: black;
  text-align: center;
  background-color: rgb(225,225,214);
}

TD.minimenu {
    color: white;
    font-family: sans-serif;
text-align: center;
font-size: 13px;
}

TD.ffronttitle {
    color: black;
    font-family: Arial, Helvetica;
    font-size: 18px;
}

TD.ffrontdesc {
    color: #808080;
    font-family: Arial, Helvetica;
    font-size: 10px;
}

TD.boxheaderlayer {
    color: black;
    font-family: Arial,Helvetiva;
/* text-align: center; */
font-size: 14px;
font-weight: 800;
}

TD.darkblue {
    color: black;
    background-color: rgb(69,102,143);
}

DIV.nav {
    background-color: white;
/*    height: 100px;*/
}

DIV.body {
    padding: 10px;
}

BODY {
/*    background-color: rgb(79,112,153);*/
    background-color: #CC9966;
    padding: 0px;
    margin: 0px;
}

DIV.biothumb {
    width: 150px;
    font-size: 8px;
    font-family: Helvetica, Arial;
    color: #808080;
    border: 1px solid #808080;
    padding: 2px;
    text-align: justify;
}

A.biothumb {
    color: #808080;

}

A:link, A:visited, A:active { text-decoration: none; border: 0px;  }
A:hover { color: #404040 }

A.leftframe:link, A.leftframe:visited, A.leftframe:active { 
    text-decoration:none;
    color: rgb(119,152,193);
    border: 0px;
}
A.leftframe:hover {
    color: rgb(19,52,93);

}

A.white:link, A.white:visited, A.white:active { 
    text-decoration:none;
    color: rgb(19,52,93);
}
A.green:link, A.green:visited, A.green:active { 
   color: #007000;

}

A.green:hover {
   color: #00a000;

}
A.blue:link, A.blue:visited, A.blue:active { color: blue}
P.hist { text-align: justify }

TD.textboxheader  { 
padding: 0pt 0pt 0pt 0pt;
margin: 0pt 0pt 0pt 0pt;
	font-size: 12pt;
        color: white;
	font-family: Sans-serif;
	background-color: #6384ad;
}

H1, H2, H3 {
    font-size: 18px;
    text-align: left;
    font-family: Arial, Helvetiva;
    font-weight: bold;
    color: rgb(99,132,173);
}
	
TD.textboxcontent { 
    padding: 0pt 0pt 0pt 0pt; 
    margin: 0pt 0pt 0pt 0pt;
}

TD.topframetitel {
    font-family: Georgia, Times;
    font-size: 30px;
    color: white; 
    text-align: right;
}

.listeoverskrifter {
    font-family: Arial, Helvetica;
    font-size: 16px;
    color: #AA7744;
/*    color: rgb(99,132,173);*/
    font-weight: 800;
    width: 100%;
/*    border-bottom: 1px solid rgb(99,132,173);*/
    border-bottom: 1px solid #EEBB88;
}

.listeblue {
    color: #AA7744;
}

legend {
   font-weight: 100;
   color: rgb(99,132,173);
   font-family: Arial, Helvetica;
   font-size: 8pt;
}
       
fieldset {
  padding: 5;
  text-align: center;
  font-size: 13px;
  font-family: Arial,Helvetica;
  border: 1px solid #808080;
}

td.stat {
   font-family: Arial;
   font-size: 13px;
}

span.digtoverskrift {
    font-size: 18px;
}

span.digtunderoverskrift {
    font-size: 10px;
}

td.maintitle {
    vertical-align: middle;
    background-color: #CC9966;
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica;
}

td.navigation {
    vertical-align: middle;
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica;
    background-color: rgb(238,216,174);

}

span.lifespan {
    color: #EEBB88;
}
