body {
    background-color: white;
}

SPAN.wide {
    letter-spacing: 0.2em;
}

span.headtitle {
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;	   
}

span.digtoverskrift {
    font-size: 18px;
}

span.workunderoverskrift {
    font-size: 14px;
}

span.digtunderoverskrift {
    font-size: 10px;
}

.noprint {
    display: none;
}

img.logo {
    border: 0px;
    padding-left: 10pt;	  
}

div.noter p {
   padding: 0px;
   margin: 0px;
   text-indent: 10pt;	   
}


.linenumber {
   display:none;
}
