head title {
   font-weight: bold;
   font-size: 18pt;
   display: block;
   margin-bottom: 10pt;
   margin-top: 20pt;
}

poem {
   display: block;
   border-bottom: 1px solid #202080;
   padding-bottom: 10pt;
   padding-left: 20pt;
}

poem title {
   color: #202080;
   font-weight: bold;
   display: block;
   margin-bottom: 10pt;
   margin-top: 20pt;
}

verse {
   margin-top: 10pt;
   margin-bottom: 10pt;
   display: block;
}

line {
   display: block;
}

firstline {
   display: none;
}

