
head title {
   font-weight: bold;
   font-size: 18pt;
   display: block;
   margin-bottom: 10pt;
   margin-top: 20pt;
}

head subtitle {
   font-size: 14pt;
   display: block;
   margin-bottom: 10pt;
   margin-top: 0pt;
}

poem {
   display: block;
   border-bottom: 1px solid #202080;
   padding-bottom: 10pt;
   padding-left: 20pt;
}

poem title {
   color: #202080;
   font-weight: bold;
   display: block;
   margin-bottom: 10pt;
   margin-top: 20pt;
}


verse {
   margin-top: 10pt;
   margin-bottom: 10pt;
   display: block;
}

line {
   display: block;
}

firstline {
   display: none;
}

w {
    letter-spacing: 0.2em;
}

i {
    font-style: italic;  
}

footnote {
    color: #808080;
}
