<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1805" type="text">
  <html>Huslærer på Egeløkke (ophørt 1808).</html>
</entry>
<entry date="1810" type="text">
  <html>Får sit første sindssygeanfald.</html>
</entry>
<entry date="1818" type="text">
  <html>Ægteskab med Elisabeth (Lise) Blicher. Påbegynder oversættelse af Saxo og Snorri Strurlason (begge afsluttet 1822).</html>
</entry>
<entry date="1822" type="text">
  <html>Kapellan ved Vor Frue Kirke i Kbh.</html>
</entry>
<entry date="1826" type="text">
  <html>Kommer under livsvarig censur. Fratrådt som kapellan.</html>
</entry>
<entry date="1829" type="text">
  <html>Foretager den første af tre Englandsrejser (sidste afsluttes 1831).</html>
</entry>
<entry date="1837" type="text">
  <html>Fritages for censur.</html>
</entry>
<entry date="1838" type="text">
  <html>Foredrag på Borchs Kollegium (1877 udgivet som <i>Mands Mindeforedragene</i>).</html>
</entry>
<entry date="1839" type="text">
  <html>Præst ved Vartov Kirke til sin død.</html>
</entry>
<entry date="1843" type="text">
  <html>Ny Englandsrejse.</html>
</entry>
<entry date="1844" type="text">
  <html>Får sit andet sindssygeanfald.</html>
</entry>
<entry date="1848" type="text">
  <html>Medlem af den Grundlovgivende Rigsforsamling. Fortsætter som folketingsmand til 1858. Redigerer bladet <i>Danskeren</i> (til 1851).</html>
</entry>
<entry date="1851" type="text">
  <html>Første hustru dør. Ægteskab med Ane Marie Carlsen.</html>
</entry>
<entry date="1854" type="text">
  <html>Anden hustru dør.</html>
</entry>
<entry date="1858" type="text">
  <html>Ægteskab med Asta Reedtz.</html>
</entry>
<entry date="1861" type="text">
  <html>Udnævnes til titulær biskop.</html>
</entry>
<entry date="1867" type="text">
  <html>Får sit tredje sindssygeanfald.</html>
</entry>
</events>


