<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1821" type="text">
  <html>Eksamen fra Harvard University.</html>
</entry>
<entry date="1829" type="text">
  <html>Ordineret som unitarpræst.</html>
</entry>
<entry date="1832" type="text">
  <html>Nedlægger præstehvervet. Èt års rejse til Europa påbegyndes.</html>
</entry>
<entry date="1834" type="text">
  <html>Slår sig varigt ned i familiens hjemby Concord, Mass.</html>
</entry>
<entry date="1836" type="text">
  <html>Medstifter af Transcendental Club.</html>
</entry>
<entry date="1840" type="text">
  <html>Medvirker ved skabelse af tidsskriftet <i>The Dial</i>.</html>
</entry>
<entry date="1847" type="text">
  <html>Ny et-års Europarejse.</html>
</entry>
<entry date="1866" type="text">
  <html>Æresdoktor ved Harvard University.</html>
</entry>
<entry date="1873" type="text">
  <html>Tredje etårs Europarejse.</html>
</entry>
</events>

