<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1884" type="text">
  <html>Student fra Schneekloths skole.</html>
</entry>
<entry date="1893" type="text">
  <html>Juridisk embedseksamen.</html>
</entry>
<entry date="1887" type="text">
  <html>Virke som journalist.</html>
</entry>
</events>


