<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1700" type="text">
  <html>Student fra Ringsted.</html>
</entry>
<entry date="1705" type="text">
  <html>Teologisk eksamen.</html>
</entry>
<entry date="1707" type="text">
  <html>Ophold i Østrig.</html>
</entry>
<entry date="1717" type="text">
  <html>Auditør ved rytteriet ved Roskilde.</html>
</entry>
<entry date="1726" type="text">
  <html>Ægteskab, incl. to steddøtre.</html>
</entry>
<entry date="1726" type="text">
  <html>Sognepræst i Nordrup og Farringløse.</html>
</entry>
<entry date="1748" type="text">
  <html>Sognepræst i Toreby på Lolland.</html>
</entry>
</events>

