<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1611" type="text">
  <html>Ægteskab med Else Jørgensdatter.</html>
</entry>
<entry date="1612" type="text">
  <html>Skriver <xref poem="arrebo2020042601"/>.</html>
</entry>
<entry date="1613" type="text">
  <html>Præst ved slotsmenigheden, Frederiksborg.</html>
</entry>
<entry date="1616" type="text">
  <html>Præst ved Nikolaj Kirke, Kbh.</html>
</entry>
<entry date="1618" type="text">
  <html>Biskop over Trondheim Stift.</html>
</entry>
<entry date="1622" type="text">
  <html>Afskediget som biskop efter skandalesag.</html>
</entry>
<entry date="1626" type="text">
  <html>Sognepræst i Vordingborg til sin død.</html>
</entry>
</events>

