<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1672" type="text">
  <html>Student fra Ribe Katedralskole.</html>
</entry>
<entry date="1672" type="text">
  <html>Begynder på teologi-studiet.</html>
</entry>
<entry date="1677" type="text">
  <html>Hører ved Odense Katedralskole.</html>
</entry>
<entry date="1678" type="text">
  <html>Kapellan hos kapellanen ved Sankt Knuds Kirke i Odense.</html>
</entry>
<entry date="1693" type="text">
  <html>Residerende kapellan ved Sankt Knuds Kirke i Odense.</html>
</entry>
<entry date="1704" type="text">
  <html>Sognepræst i Middelfart og Kavslunde.</html>
</entry>
</events>

