<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1676" type="text">
  <html>Anerkendes som søn af Hannibal Sehested, Norges tidligere statsholder, og adles.</html>
</entry>
<entry date="1676" type="text">
  <html>Forfremmes til generaladjunkt.</html>
</entry>
<entry date="1676" type="text">
  <html>Ægteskab med godsejerdatter Mette Sophie Parsberg på Selleberg.</html>
</entry>
<entry date="1679" type="text">
  <html>Sættes tilbage i rank som oberstløjnant og pensioneres.</html>
</entry>
<entry date="1679" type="text">
  <html>Flytter til gården Selleberg mellem Odense og Kerteminde.</html>
</entry>
<entry date="1682" type="text">
  <html>Køber herregården Lundsgaard.</html>
</entry>
<entry date="1686" type="text">
  <html>Flytter tilbage på Selleberg.</html>
</entry>
<entry date="1696" type="text">
  <html>Trange kår tvinger familien fra Selleberg og de flytter på Rugaard.</html>
</entry>
</events>

