<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1811" type="text">
  <html>Bliver forældreløs, adopteres af ægteparret Allan.</html>
</entry>
<entry date="1815" type="text">
  <html>Bosat i England med adoptivforældrene (tilbage til USA 1820).</html>
</entry>
<entry date="1830" type="text">
  <html>Kadet på West Point.</html>
</entry>
<entry date="1831" type="text">
  <html>Bortvises fra West Point.</html>
</entry>
<entry date="1835" type="text">
  <html>Redaktør af Southern Literary Messenger i Richmond, Virginia (fratrådt 1837.)</html>
</entry>
<entry date="1836" type="text">
  <html>Ægteskab med kusinen Virginia Clemm.</html>
</entry>
<entry date="1847" type="text">
  <html>Poes hustru dør.</html>
</entry>
</events>

