<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1838" type="text">
  <html>Udsender hyldestdigt ved Thorvaldsens hjemkomst. Rammes af fire år lang nervelidelse.</html>
</entry>
<entry date="1859" type="text">
  <html>Overlærer ved Vridsløselille.</html>
</entry>
<entry date="1881" type="text">
  <html>Afgang som overlærer.</html>
</entry>
</events>



