<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1813" type="text">
  <html>Student</html>
</entry>
<entry date="1816" type="text">
  <html>Cand. juris.</html>
</entry>
<entry date="1822" type="text">
  <html>Adjunkt i Sorø og samme år cand. theol.</html>
</entry>
<entry date="1827" type="text">
  <html>Magister for en afhandling om Oraklet i Delfi.</html>
</entry>
<entry date="1828" type="text">
  <html>Lektor i græsk ved Akademiet.</html>
</entry>
</events>

