<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1811" type="text">
  <html>Student fra Nykøbing Falster Katedralskole.</html>
</entry>
<entry date="1816" type="text">
  <html>Teologisk embedseksamen.</html>
</entry>
<entry date="1817" type="text">
  <html>Residerende kapellan i Købelev og Vindeby på Lolland. Gift med Dorthea Elisabeth Ramlau.</html>
</entry>
<entry date="1823" type="text">
  <html>Sognepræst i Præstø og Skibinge.</html>
</entry>
<entry date="1835" type="text">
  <html>Sognepræst i Øster Egesborg.</html>
</entry>
</events>
