<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1754" type="text">
  <html>Sendes til domskolen i Slesvig.</html>
</entry>
<entry date="1758" type="text">
  <html>Opnår studentereksamen.</html>
</entry>
<entry date="1759" type="text">
  <html>Flygter med broderen til Hamburg for at melde sig til den preussiske hær. Eventyret går over Magdeburg, Dresden og Prag hvorfra den dødeligt syge Ewald vender hjem oktober året efter.</html>
</entry>
<entry date="1762" type="text">
  <html>Bliver teologisk kandidat fra Kbh. Universitet.</html>
</entry>
<entry date="1769" type="text">
  <html>Rammes af en gigt, som han havde pådraget sig i soldatertiden.</html>
</entry>
<entry date="1773" type="text">
  <html>I efteråret flytter Ewald til kroen i Rungsted, det nuværende Rungstedlund, hvor han opholder sig indtil foråret 1775.</html>
</entry>
<entry date="1775" type="text">
  <html>Ewald tager i efteråret ophold i Søbækshuset ved Humlebæk. Her bliver han indtil 1777.</html>
</entry>
<entry date="1777" type="text">
  <html>Får frimandsasyl en stue i Skindergade hos en Madam Schou, hvor han opholder sig til sin død.</html>
</entry>
<entry date="1778" type="text">
  <html>Tildeles af Den danske Litteraturselskab en årlig understøttelse.</html>
</entry>
</events>

