<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1806" type="text">
  <html>Student fra Slagelse Latinskole.</html>
</entry>
<entry date="1807" type="text">
  <html>Filologisk eksamen.</html>
</entry>
<entry date="1809" type="text">
  <html>Moderen dør.</html>
</entry>
<entry date="1811" type="text">
  <html>Alumnus på Valkendorfs kollegium indtil 1816.</html>
</entry>
<entry date="1818" type="text">
  <html>Et rejselegat tillader en rejse til Italien via Paris.</html>
</entry>
<entry date="1821-07-23" type="text">
  <html>Udnævnes til lektor i dansk sprog og litteratur ved Sorø Akademi, som var genåbnet tidligere samme år.</html>
</entry>
<entry date="1822" type="text">
  <html>Ægteskab med Lucie Mandix (f. 13/2 1792).</html>
</entry>
</events>
