<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1885" type="text">
  <html>Tager filosofikum ved Kbh. Universitet.</html>
</entry>
<entry date="1886" type="text">
  <html>Journalist ved Horsens Folkeblad.</html>
</entry>
<entry date="1892" type="text">
  <html>Rejse til Paris som giver anledning til brevene samlet i <i>Antonius i Paris</i>.</html>
</entry>
<entry date="1893" type="text">
  <html>Første nummer af tidsskriftet <i>Taarnet</i> udkommer.</html>
</entry>
<entry date="1896" type="text">
  <html>Ægteskab med Anna Christensen.</html>
</entry>
<entry date="1906" type="text">
  <html>Ophold i Paris indtil 1911.</html>
</entry>
</events>


