<?xml version="1.0" encoding="ISO-8859-1"?>
<events>
<entry date="1885" type="text">
  <html>Tager filosofikum ved Kbh. Universitet.</html>
</entry>
<entry date="1896" type="text">
  <html>Ægteskab med Anna Christensen.</html>
</entry>
<entry date="1906" type="text">
  <html>Ophold i Paris indtil 1911.</html>
</entry>
</events>


