<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1892" type="text">
  <html>Præliminæreksamen.</html>
</entry>
<entry date="1904" type="text">
  <html>Redaktør med Lemvig Dagblad indtil 1923.</html>
</entry>
<entry date="1904" type="text">
  <html>Gift med thyra paludan.</html>
</entry>
<entry date="1923" type="text">
  <html>Udgiver indtil 1925 tidskriftet <i>Atlantis</i>.</html>
</entry>
<entry date="1925" type="text">
  <html>Italiensrejse.</html>
</entry>
</events>
