<?xml version="1.0" encoding="UTF-8"?>
<events>
  <entry date="1793" type="text">
    <html>Ankommer til København for at studere.</html>
  </entry>
  <entry date="1798-10-18" type="text">
    <html>Debuterede på Det Kongelige Teater som Jacob i Ifflands <i>Gamle og nye Sæder</i>.</html>
  </entry>
  <entry date="1799" type="text">
    <html>Fastansættelse på Det Kongelige Teater.</html>
  </entry>
  <entry date="1813" type="text">
    <html>Hamlet opføres for første gang i Danmark — med Foersom i titelrollen samt i Foersoms oversættelse.</html>
  </entry>
</events>

