<?xml version="1.0" encoding="ISO-8859-1"?>
<events>
<entry date="1807" type="text">
  <html>Påbegynder oversættelsen af <a person="macpherson">MacPhersons</a> Ossian-digte.</html>
</entry>
<entry date="1809" type="text">
  <html>Teologisk embedseksamen.</html>
</entry>
<entry date="1810" type="text">
  <html>Gift med Juliane Berg.</html>
</entry>
</events>

