<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1807" type="text">
  <html>Påbegynder oversættelsen af <a person="macpherson">MacPhersons</a> Ossian-digte.</html>
</entry>
<entry date="1809" type="text">
  <html>Teologisk embedseksamen.</html>
</entry>
<entry date="1810" type="text">
  <html>Adjunkt ved Randers Latinskole</html>
</entry>
<entry date="1810" type="text">
  <html>Gift med Juliane Berg.</html>
</entry>
<entry date="1811" type="text">
  <html>Opgiver adjunktstillingen, herefter forpagter i Randlev til 1819.</html>
</entry>
<entry date="1819" type="text">
  <html>Præst i Thorning og Lysgaard (til 1825).</html>
</entry>
<entry date="1825" type="text">
  <html>Præst i Spentrup.</html>
</entry>
<entry date="1827" type="text">
  <html>Udgiver tidsskriftet <i>Nordlyset</i> (ophørt 1829).</html>
</entry>
<entry date="1837" type="text">
  <html>Organiserer det første Himmelbjergmøde.</html>
</entry>
<entry date="1847" type="text">
  <html>Afskediges som præst i Spentrup.</html>
</entry>
</events>

