<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1808" type="text">
  <html> Mister begge forældre med en måneds mellemrum.</html>
</entry>
<entry date="1819" type="text">
  <html> Får studentereksamen og begynder at læse medicin. Flytter ind som logerende hos adjunkt Spengler som havde dimiteret ham.</html>
</entry>
<entry date="1822" type="text">
  <html> Får datteren Cordelia med Fru Spengler 6 mdr. efter ægtemandens død.</html>
</entry>
<entry date="1824" type="text">
  <html> Forlover sig med sin 16-årige kusine Caroline Aagaard.</html>
</entry>
<entry date="1827" type="text">
  <html> Medicinsk embedseksamen efterfulgt af bryllup og stilling i Nyborg.</html>
</entry>
<entry date="1832" type="text">
  <html> Fire måneders tysklandsrejse som ledsager og læge for komtesse Amalie Raben, som dør på hjemrejsen efter sit kurophold i Karlsbad.</html>
</entry>
<entry date="1838" type="text">
  <html> Flytter familie og lægepraksis til Sakskøbing.</html>
</entry>
<entry date="1849" type="text">
  <html> Udnævnes til stiftsfysikus i Odense.</html>
</entry>
</events>
