<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1778" type="text">
  <html>Optoges på Landcadet-Academiet som Kost- eller Reformé-Cadet.</html>
</entry>
<entry date="1786" type="text">
  <html>Afgang fra Landcadet-Academiet som fændrik i Prins Frederiks Regiment.</html>
</entry>
<entry date="1791" type="text">
  <html>Rejser til Göttingen hvor han i 2½ år studerer <i>Lovkyndighed</i> og arkæologi.</html>
</entry>
<entry date="1795" type="text">
  <html>Indleder en 5-årig rejse gennem Tyskland, Italien, Schweiz, Frankrig og Holland.</html>
</entry>
<entry date="1801" type="text">
  <html>Udnævnes til assessor i Oeconomie- og Commerce-Collegiet.</html>
</entry>
<entry date="1802" type="text">
  <html>Udnævnes premiere-løjtnant.</html>
</entry>
<entry date="1808" type="text">
  <html>Ansættelse som opvartende kammerjunker dronning Maria.</html>
</entry>
<entry date="1810" type="text">
  <html>Amtmand i Cismar.</html>
</entry>
<entry date="1813" type="text">
  <html>Amtmand over Gottorf amt.</html>
</entry>
<entry date="1814-03-02" type="text">
  <html>Bærer indtil 1824 titlen som Overdirector over Staden Slesvig.</html>
</entry>
<entry date="1824-05-16" type="text">
  <html>Ridder af Dannebrog.</html>
</entry>
</events>

