<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1702" type="text">
  <html>Holberg immatrikuleret ved Københavns Universitet.</html>
</entry>
<entry date="1704" type="text">
  <html>Teologisk og filosofisk eksamen.</html>
</entry>
<entry date="1705" type="text">
  <html>Ophold i Kristianssand.</html>
</entry>
<entry date="1706" type="text">
  <html>2½ års ophold i England.</html>
</entry>
<entry date="1709" type="text">
  <html>Flytter ind på Borchs Kollegium.</html>
</entry>
<entry date="1714" type="text">
  <html>Kongen udnævner Holberg til en ulønnet stilling som <i>adjunctus professor philosophiæ</i>.</html>
</entry>
<entry date="1714" type="text">
  <html>Holberg indleder to års ophold i Paris og Rom.</html>
</entry>
<entry date="1720" type="text">
  <html>Udnævnelse til professor i retorik ved Københavns Universitet; en stilling som Holberg beholder i ti år.</html>
</entry>
<entry date="1725" type="text">
  <html>Et års rejse til Paris.</html>
</entry>
<entry date="1730" type="text">
  <html>Professor i historie og geografi.</html>
</entry>
<entry date="1735" type="text">
  <html>Et år som rektor for Københavns Universitet.</html>
</entry>
</events>
