<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1871" type="text">
  <html>Ægteskab med Vilhelmine Erichsen (skilsmisse 1878).</html>
</entry>
<entry date="1871" type="text">
  <html>Englandsrejse.</html>
</entry>
<entry date="1879" type="text">
  <html>Ægteskab med Emmy Culmsee (skilsmisse 1903).</html>
</entry>
<entry date="1883" type="text">
  <html>Brud med Georg Brandes og ,,gennembruddets'' mænd.</html>
</entry>
<entry date="1887" type="text">
  <html>Ridder af Dannebrog. Møder Amanda Nilsson (,,Edith'').</html>
</entry>
<entry date="1891" type="text">
  <html>Reelt samliv med ,,Edith'' begynder, ophørt 1897.</html>
</entry>
<entry date="1892" type="text">
  <html>Officiel forsoning med Georg Brandes og ,,gennembruddets'' mænd.</html>
</entry>
<entry date="1903" type="text">
  <html>Ægteskab med Sophie Lasson.</html>
</entry>
</events>
