<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1790-05-07" type="text">
  <html>Gift med <a poet="heibergpa">P. A. Heiberg</a>.</html>
  <!-- Sankt Nicolaj kirke, Kbh. -->
</entry>
<entry date="1791-12-14" type="text">
  <html>Får sønnen <a poet="heibergjl">Johan Ludvig</a>.</html>
</entry>
<entry date="1801" type="text">
  <html>Ægteskab med Heiberg opløses.</html>
</entry>
<entry date="1801-12-17" type="text">
  <html>Ægteskab med den svenske Baron Carl Frederik Gyllembourg-Ehrensvärd.</html>
  <!-- Sankt Nicolaj kirke, Kbh. -->
</entry>
<entry date="1827" type="text">
  <html>Litterær debut med novellen <i>Familien Polonius</i> trykt anonymt i J. L. Heibergs tidsskrift <i>Kjøbenhavns flyvende Post</i>.</html>
</entry>
</events>
