<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1889" type="text">
  <html>Student. Stud. med. i København.</html>
</entry>
<entry date="1896" type="text">
  <html>Dalgas: <i>Geografiske Digte</i>; <i>Krøniker og Æventyr</i>.</html>
</entry>
<entry date="1897" type="text">
  <html>Forlader definitivt universitetet.</html>
</entry>
<entry date="1898" type="text">
  <html>Indlæggelse på Risskov Sindssygehospital maj-august.</html>
</entry>
<entry date="1903" type="text">
  <html>Dalgas: Lidelsens Vej (roman).</html>
</entry>
</events>
