<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1637" type="text">
  <html> Student fra Ribe.</html>
</entry>
<entry date="1662" type="text">
  <html> Rektor for Slangerup Latinskole.</html>
</entry>
<entry date="1666" type="text">
  <html> Begynder at skrive for <i>Den danske Mercurius</i>.</html>
</entry>
</events>
