<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1830" type="text">
  <html>Rejser på Kontinentet sammen med vennen Arthur Hallam, deltager i spansk oprørsforsøg.</html>
</entry>
<entry date="1833" type="text">
  <html>Arthur Hallam dør, inspirerer Tennyson til digtet <a work="tennyson/1850"><i>In Memoriam A.H.H.</i> (1850)</a>.</html>
</entry>
<entry date="1850" type="text">
  <html>Bliver Poet Laureate. Ægteskab med Emily Selwood.</html>
</entry>
<entry date="1884" type="text">
  <html>Udnævnes til baron. Bliver først ,,Lord Tennyson'' fra da af.</html>
</entry>
</events>



