<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1633" type="text">
  <html>Udnævnelse til tolder i Glückstadt ved Elbens udmunding.</html>
</entry>
<entry date="1636" type="text">
  <html>Grebet i besvigelser.</html>
</entry>
<entry date="1645" type="text">
  <html>Tolderembedet nedlægges.</html>
</entry>
<entry date="1654" type="text">
  <html>Tvinges til at forlade Slangerup pga. gæld.</html>
</entry>
<entry date="1654" type="text">
  <html>Flytter til herregården Assartorp i Sydskåne.</html>
</entry>
</events>

