<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1809" type="text">
  <html>Student.</html>
</entry>
<entry date="1817" type="text">
  <html>Magister - og doktorgrad senere samme år.</html>
</entry>
<entry date="1822" type="text">
  <html>Dansk lektor i Kiel indtil 1825.</html>
</entry>
<entry date="1829" type="text">
  <html>Teaterdigter og oversætter ved Det kgl. Teater.</html>
</entry>
<entry date="1831-07-31" type="text">
  <html>Gift med <A F="heibergjohanne">Johanne Luise Pätges</A>.</html>
  <!-- Slangerup Sogn -->
</entry>
<entry date="1849" type="text">
  <html>Teaterdirektør for Det kongelige Teater indtil 1856.</html>
</entry>
</events>
