<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1582" type="text">
  <html>Ægteskab med Anne Hathaway.</html>
</entry>
<entry date="1590" type="text">
  <html>Formodet debut som dramatiker (<i>Henrik VI</i>).</html>
</entry>
<entry date="1592" type="text">
  <html>Bosat i London.</html>
</entry>
<entry date="1599" type="text">
  <html>Meddirektør ved teatret The Globe.</html>
</entry>
<entry date="1601" type="text">
  <html><i>Hamlet</i> (drama).</html>
</entry>
<entry date="1613" type="text">
  <html>Trækker sig tilbage til Stratford efter Globe-teatrets brand.</html>
</entry>
</events>


