<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1715" type="text">
  <html>Student fra Herlufsholm.</html>
</entry>
<entry date="1716" type="text">
  <html>Opnår baccalaureus-graden.</html>
</entry>
<entry date="1721" type="text">
  <html>Rejse i Tyskland og Holland.</html>
</entry>
<entry date="1723" type="text">
  <html>Assessor i Hofretten.</html>
</entry>
<entry date="1724" type="text">
  <html>Ophold i Paris.</html>
</entry>
<entry date="1725" type="text">
  <html>Køber Hagstedgård ved Holbæk.</html>
</entry>
</events>

