<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1808" type="text">
  <html> Moderen dør.</html>
</entry>
<entry date="1810" type="text">
  <html> Faderen dør.</html>
</entry>
<entry date="1822" type="text">
  <html> Opnår friplads ved Sorø Akademi.</html>
</entry>
<entry date="1827" type="text">
  <html> Student.</html>
</entry>
<entry date="1828" type="text">
  <html> Begynder at studere jura.</html>
</entry>
<entry date="1829" type="text">
  <html> Får søn udenfor ægteskab med Thora.</html>
</entry>
<entry date="1836" type="text">
  <html> Får stillingen som redaktør for Fyens Stiftstidende og flytter til Odense.</html>
</entry>
<entry date="1838" type="text">
  <html> Ægteskab med Thora.</html>
</entry>
<entry date="1846" type="text">
  <html> Sønnen dør af brystsyge få dage før Bagger.</html>
</entry>
</events>
