<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1757" type="text">
  <html>Christiania Katedralskole.</html>
</entry>
<entry date="1761" type="text">
  <html>Rejser til København for at studere på universitetet.</html>
</entry>
<entry date="1780" type="text">
  <html>Gifter sig med Anna Catharia Bukier.</html>
</entry>
<entry date="1781" type="text">
  <html>Sønnen Jonas fødes.</html>
</entry>
</events>

