<?xml version="1.0" encoding="UTF-8"?>
<events>
   <entry date="1806" type="text">
     <html>Student fra Århus.</html>
   </entry>
   <entry date="1811" type="text">
     <html>Teologisk kandidat.</html>
   </entry>
   <entry date="1838" type="text">
     <html>Rektor for Århus Katedralskole, indtil 1861.</html>
   </entry>
   <entry date="1851" type="text">
     <html>Titulær professor.</html>
   </entry>
</events>

