<?xml version="1.0" encoding="ISO-8859-1"?>
<events>
<entry date="1869" type="text">
  <html>Student fra Metropolitanskolen i Kbh.</html>
</entry>
<entry date="1874" type="text">
  <html>Filologisk embedseksamen</html>
</entry>
<entry date="1876" type="text">
  <html>Rejse til Moskva</html>
</entry>
<entry date="1887" type="text">
  <html>Dansk konsul i Moskva</html>
</entry>
<entry date="1894" type="text">
  <html>Filosofisk doktorgrad ved Kbh. Universitet</html>
</entry>
</events>

