<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1869" type="text">
  <html>Student fra Metropolitanskolen i Kbh.</html>
</entry>
<entry date="1874" type="text">
  <html>Filologisk embedseksamen.</html>
</entry>
<entry date="1876" type="text">
  <html>Rejse til Moskva. Bosat i Rusland til sin død.</html>
</entry>
<entry date="1883" type="text">
  <html>Gift med Nathalia de Protopopov.</html>
</entry>
<entry date="1887" type="text">
  <html>Dansk konsul i Moskva.</html>
</entry>
<entry date="1892" type="text">
  <html>Ridder af Dannebrog.</html>
</entry>
<entry date="1894" type="text">
  <html>Filosofisk doktorgrad ved Kbh. Universitet.</html>
</entry>
<entry date="1899" type="text">
  <html>Optaget i den russiske adel, tildeles Vladimir-ordenen.</html>
</entry>
<entry date="1906" type="text">
  <html>Afgang som konsul.</html>
</entry>
</events>

