body {
  box-sizing: border-box;
  height: 150px;
}

.hero {
  width: 100%;
  color: #333;
}

.heading {
  margin-bottom: 20px;
}

.heading h1 {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  line-height: 48px;
  font-size: 48px;
  font-weight: lighter;
}

.subheading h2 {
  margin: 0;
  width: 100%;
  margin: 10px 0;
  line-height: 1.15;
  font-size: 28px;
  font-weight: lighter;
}

.list-section h3 {
  font-weight: lighter;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.title, .description {
  text-align: center;
}

.row {
  max-width: 880px;
  margin: 80px auto;
  padding: 0 20px;
}

a {
  color: #067df7;
  color: rgb(139, 56, 65);
  text-decoration: none;
  font-size: 13px;
}

.two-columns {
  width: 100%;
  columns: 2;
  column-gap: 20px;
}

.list-section {
  break-inside: avoid;
}

/* Fix vertical aligment layout problem in Safari and Chrome */
.list-section:before {
  content: '';
  display: block;
  height: 1px;
}

.poetname .period {
  opacity: 0.5;
}

.workname .year {
  opacity: 0.5;
}


/* Tabs */
.tabs {
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.tabs > .tab {
  display: inline-block;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
}

.tabs > .tab h2 {
  line-height: 32px;
  font-size: 32px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tabs > .tab.selected {
  border-bottom: 2px solid black;
}

.tabs .tab.selected a {
  color: black;
}

.tabs .tab a {
  color: #888;
}

/* TOC */

.toc {
  margin-left: 30px;
  margin-bottom: 20px;
}

.toc h3 {
  font-weight: lighter;
  font-size: 18px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
