body {
  box-sizing: border-box;
  height: 150px;
}

.hero {
  width: 100%;
  color: #333;
}

.heading {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.heading h1 {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  line-height: 1.15;
  font-size: 48px;
  font-weight: lighter;
}

.heading h2 {
  margin: 0;
  width: 100%;
  margin: 10px 0;
  line-height: 1.15;
  font-size: 32px;
  font-weight: lighter;
}

.list-section h3 {
  font-weight: lighter;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.title, .description {
  text-align: center;
}

.row {
  max-width: 880px;
  margin: 80px auto;
  padding: 0 20px;
}

a {
  color: #067df7;
  text-decoration: none;
  font-size: 13px;
}

.two-columns {
  width: 100%;
  columns: 2;
  column-gap: 20px;
}

.list-section {
  break-inside: avoid;
}

.poetname .period {
  opacity: 0.5;
}
