.hero {
  width: 100%;
  color: #333;
}

.heading {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.heading h1 {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  line-height: 1.15;
  font-size: 48px;
  font-weight: lighter;
}

.heading h2 {
  margin: 0;
  width: 100%;
  margin: 10px 0;
  line-height: 1.15;
  font-size: 32px;
  font-weight: lighter;
}

.list-section {
  width: 40%;
}

.list-section h3 {
  font-weight: lighter;
  border-bottom: 1px solid black;
  margin: 30px 0 10px 0;
}

.title, .description {
  text-align: center;
}
.row {
  max-width: 880px;
  margin: 80px auto 40px;
}

a {
  color: #067df7;
  text-decoration: none;
  font-size: 13px;
}

.group {
  display: flex;
  flex-direction: column;
}

.poetname .period {
  opacity: 0.7;
}
