body {
  box-sizing: border-box;
  font-size: 14px;
  height: 150px;
}

p {
}

a {
  color: #067df7;
  color: rgb(139, 56, 65);
  text-decoration: none;
}

.hero {
  width: 100%;
  color: #333;
}

.subheading h2 {
  margin: 0;
  width: 100%;
  margin: 10px 0 30px 0;
  line-height: 1.15;
  font-size: 28px;
  font-weight: lighter;
}

.list-section h3 {
  font-weight: lighter;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.title, .description {
  text-align: center;
}

.row {
  max-width: 880px;
  margin: 0px auto;
  padding: 0 20px;
}

.poetname .period {
  opacity: 0.5;
}

.workname .year {
  opacity: 0.5;
}
