<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1824" type="text">
  <html>Indleder sit 11-årige ophold i Italien.</html>
</entry>
<entry date="1835" type="text">
  <html>Vender hjem fra Italien på fregatten ,,Bellona'', der bragte Thorvaldsens værker til København.</html>
</entry>
</events>

