<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1725" type="text">
  <html>Student fra Odense. Indleder 10 års ophold ved Københavns Universitet som afsluttes uden eksamen.</html>
</entry>
<entry date="1735" type="text">
  <html>Ægteskab.</html>
</entry>
<entry date="1747" type="text">
  <html>Stubs hustru dør.</html>
</entry>
<entry date="1752" type="text">
  <html>Flytter til Ribe og starter en skole, som han bestyrer til sin død.</html>
</entry>
</events>
