<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1815" type="text">
  <html>Student.</html>
</entry>
<entry date="1824" type="text">
  <html>Teologisk embedseksamen.</html>
</entry>
<entry date="1824" type="text">
  <html>Huslærer for Alvilde Müffelmann.</html>
</entry>
<entry date="1830" type="text">
  <html>Italiensrejse i et år.</html>
</entry>
<entry date="1848" type="text">
  <html>Gift med Julie Werliin.</html>
</entry>
</events>

