<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1812" type="text">
  <html>Doktor i filosofi med disputats om Koranens etik.</html>
</entry>
<entry date="1820-11-16" type="text">
  <html>Dampe anholdes.</html>
</entry>
<entry date="1821-02-14" type="text">
  <html>Dampe dømmes til døden.</html>
</entry>
<entry date="1821-03-07" type="text">
  <html>Frederik 6. omstøder dommen til fængsel på livstid.</html>
</entry>
<entry date="1841-05-24" type="text">
  <html>Dampe løslades betinget af at han ikke forlader Bornholm og underkaster sig censur.</html>
</entry>
<entry date="1848" type="text">
  <html>Amnesti for politisk dømte. Dampe bosætter sig i København.</html>
</entry>
</events>

