<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1827" type="text">
  <html>Student fra v. Westens Institut.</html>
</entry>
<entry date="1840" type="text">
  <html>Cand. polyt.</html>
</entry>
<entry date="1847" type="text">
    <html>Skrev <xref poem="faber1999071102"/> (udg. året efter).</html>
</entry>
<entry date="1848-10-04" type="text">
    <html>Udgiver <xref poem="faber1999071101"/>.</html>
</entry>
<entry date="1853" type="text">
  <html>Chef for telegrafetaten.</html>
</entry>
</events>

