<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1829" type="text">
    <html>Student.</html>
</entry>
<entry date="1841" type="text">
      <html>Redaktør for det nationalliberale avis <i>Fædrelandet</i>.</html>
</entry>
<entry date="1842" type="text">
      <html>Ploug: <i>Kjærlighed under Qvarantaine</i> (komedie, udg. 1904) heri <xref poem="plough2001120101">.</html>
</entry>
<entry date="1843" type="text">
    <html>Deltager i studentermøde i Upsala som de københavnske studenters fører.</html>
</entry>
<entry date="1848" type="text">
    <html>Skriver <xref poem="ploug2001123001"/>. Medlem af den Grundlovgivende Rigsforsamling.</html>
</entry>
<entry date="1854" type="text">
    <html>Medlem af Folketinget. Ægteskab med Frederikke Michelsen.</html>
</entry>
<entry date="1858" type="text">
    <html>Medlem af Landstinget.</html>
</entry>
<entry date="1872" type="text">
    <html>Ridder af Dannebrog.</html>
</entry>
<entry date="1874" type="text">
    <html>Modtager Dannebrogsmændenes Hæderstegn.</html>
</entry>
<entry date="1877" type="text">
    <html>Laurbærkranset i Lund, æresdoktor sammesteds.</html>
</entry>
<entry date="1881" type="text">
      <html>Ophør som redaktør af <i>Fædrelandet</i>.</html>
</entry>
<entry date="1883" type="text">
    <html>Formand for Højres Arbejder- og Vælgerforening.</html>
</entry>
<entry date="1888" type="text">
    <html>Kommandør af Dannebrog (2. grad).</html>
</entry>
<entry date="1890" type="text">
    <html>Udtræder af Landstinget.</html>
</entry>
<entry date="1893" type="text">
    <html>Afgang som formand for arbejder- og vælgerforeningen.</html>
</entry>
<entry date="1904" type="text">
      <html><i>Studenterkomedier</i> (posthum udg.)</html>
</entry>
</events>
