<?xml version="1.0" encoding="UTF-8"?>
<events>
   <entry date="1486" type="text">
     <html>Magister fra Københavns Universitet.</html>
   </entry>
   <entry date="1489" type="text">
     <html>Doktorgrad i jura eller teologi fra Köln Universitet.</html>
   </entry>
   <entry date="1490" type="text">
     <html>Rektor for Århus Domskole indtil 1520/21.</html>
   </entry>
</events>


