<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1846" type="text">
  <html>Medarbejder ved The Brooklyn Eagle (ansættelse ophørt 1848.)</html>
</entry>
<entry date="1857" type="text">
  <html>Medarbejder ved The Brooklyn Times (ansættelse ophørt 1858.)</html>
</entry>
<entry date="1855" type="text">
  <html>Whitman: første udgave af <i>Leaves of Grass</i>.</html>
</entry>
<entry date="1873" type="text">
  <html>Rammes af slagtilfælde, bosætter sig i byen Camden.</html>
</entry>
<entry date="1888" type="text">
  <html>Rammes af nyt slagtilfælde.</html>
</entry>
</events>


