<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1636-10-09" type="text">
  <html>Leonora Christine gifter sig med Corfitz Ulfeldt.</html>
</entry>
<entry date="1651-07-14" type="text">
  <html>Grev Corfits Ulfeldt og Eleonora Christine flygter til Holland pga. anklager for underslæb.</html>
</entry>
<entry date="1685-05-19" type="text">
  <html>Leonora Christine løslades fra sit 22-årige fangenskab i Blåtårn og hun bosætter sig i Maribo Kloster.</html>
</entry>
</events>
