<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1825" type="text">
  <html>Påbegynder treårig Europarejse.</html>
</entry>
<entry date="1831" type="text">
  <html>Ægteskab med Mary Storer Potter</html>
</entry>
<entry date="1834" type="text">
  <html>Longfellows første hustru dør på Europarejse.</html>
</entry>
<entry date="1836" type="text">
  <html>Professor i Cambridge, Mass.</html>
</entry>
<entry date="1843" type="text">
  <html>Ægteskab med Frances Appleton.</html>
</entry>
<entry date="1854" type="text">
  <html>Afgang fra Harvard-professoratet.</html>
</entry>
<entry date="1861" type="text">
  <html>Longfellows anden hustru dør ved brandulykke.</html>
</entry>
</events>

