<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1637" type="text">
  <html>Student som 12-årig.</html>
</entry>
<entry date="1654" type="text">
  <html>Indleder sin 8-årige udenlandsrejse som bringer ham til Tyskland, England, Frankrig, Italien og Spanien.</html>
</entry>
<entry date="1662" type="text">
  <html>Griffenfeld vender tilbage til Danmark og får stillingen som arkivar hos Frederik III.</html>
</entry>
<entry date="1671-07-01" type="text">
  <html>Adlet.</html>
</entry>
<entry date="1673" type="text">
  <html>Udnævnelse til greve af Griffenfeld og rigskansler.</html>
</entry>
<entry date="1676-03-11" type="text">
  <html>Griffenfeld arresteres og anklages for modtagelse af bestikkelse samt landsforræderi. Hans dødsdom forvandles til livstidsfængsel i sidste øjeblik.</html>
</entry>
<entry date="1680" type="text">
  <html>Griffenfeld flyttes efter 4 år i Kastellet i København til Munkholmen ud for Trondheim, hvor han sidder indespærret indtil 1698.</html>
</entry>
<entry date="1698" type="text">
  <html>Griffenfeld tillades husarrest i Trondheim.</html>
</entry>
</events>
