<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1887" type="text">
  <html>Fængslet 17 dage for blasfemi.</html>
</entry>
<entry date="1893" type="text">
  <html>Ægteskab med Marie Bregendahl (skilsmisse 1900).</html>
</entry>
<entry date="1896" type="text">
  <html>Tager filosofikum.</html>
</entry>
<entry date="1897" type="text">
  <html><i>Missionen og dens Høvding</i> (kampskrift mod Indre Mission, officiel debut).</html>
</entry>
<entry date="1904" type="text">
  <html>Aakjær: <i>Vredens Børn</i> (roman).</html>
</entry>
<entry date="1907" type="text">
  <html>Ægteskab med Nanna Jensen Krog. Opfører gården Jenle.</html>
</entry>
<entry date="1915" type="text">
  <html>Aakjær: <i>Jens Langkniv</i> (roman).</html>
</entry>
<entry date="1918" type="text">
  <html>Eneejer af Jenle.</html>
</entry>
</events>


