<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1915" type="text">
  <html>Første gang publiceret med digtet ,,Havfruen'' i Vendsyssel Tidende.</html>
</entry>
<entry date="1917" type="text">
  <html>Ægteskab med Jens Kristian Jensen (indtil 1923).</html>
</entry>
<entry date="1917" type="text">
  <html>Bosætter sig i København i en årrække.</html>
</entry>
<!--
<entry date="" type="text">
  <html></html>
</entry>
<entry date="" type="text">
  <html></html>
</entry>
<entry date="" type="text">
  <html></html>
</entry>
<entry date="" type="text">
  <html></html>
</entry>
-->
</events>

