<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1658" type="text">
  <html>Teologisk eksamen.</html>
</entry>
<entry date="1658" type="text">
  <html>Huslærer i Nordvestsjælland.</html>
</entry>
<entry date="1661" type="text">
  <html>Virkede som kapellan i Kirke-Helsinge indtil 1668.</html>
</entry>
<entry date="1669" type="text">
  <html>Ægteskab med enken efter sognepræsten i Kirke-Helsinge.</html>
</entry>
<entry date="1677" type="text">
  <html>Kingo udnævnes til biskop i Odense.</html>
</entry>
<entry date="1694-05-19" type="text">
  <html>Hustruen dør.</html>
</entry>
<entry date="1694-12-21" type="text">
  <html>Ægteskab med den 30-årige lægedatter Birgitte Balslev (f. 1665).</html>
</entry>
</events>
