<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1790" type="text">
  <html>Dimiteret privat.</html>
</entry>
<entry date="1797" type="text">
    <html>Lektor i dansk sprog ved Almuelærerseminariet på Blaagaard indtil 1805.</html>
</entry>
<entry date="1797" type="text">
  <html>Ægteskab med Marie Cathrine Bilsted (1773-1849).</html>
</entry>
<entry date="1803" type="text">
  <html>Titel af professor og lærer hos arveprinsesse Caroline i Kiel indtil 1810.</html>
</entry>
<entry date="1813" type="text">
  <html>Lærer ved Artillerikadetinstituttet i København.</html>
</entry>
<entry date="1815" type="text">
  <html>Ridder af Dannebrog.</html>
</entry>
</events>

