<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1653" type="text">
  <html>Student fra Roskilde.</html>
</entry>
<entry date="1658" type="text">
  <html>Rektor i Næstved.</html>
</entry>
<entry date="1658" type="text">
  <html>Præst i Hellested (Stevns.)</html>
</entry>
<entry date="1664" type="text">
  <html>Ægteskab med Karen Andersdatter Hoff.</html>
</entry>
</events>

