<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1800" type="text">
  <html>Forlovelse med Christiane Elisabeth Georgine Heger, søster til <a poet="rahbekk">Kamma Rahbek</a>.</html>
</entry>
<entry date="1805" type="text">
  <html>Foretager europarejse (hjem 1809).</html>
</entry>
<entry date="1810" type="text">
  <html>Udnævnes til professor i æstetik.</html>
</entry>
<entry date="1810" type="text">
  <html>Giftet med Christiane Heger.</html>
</entry>
<entry date="1813" type="text">
  <html>Indblandet i ,,digterfejden'' mod Jens Baggesen (slut 1820).</html>
</entry>
<entry date="1829" type="text">
  <html>Udnævnt til Nordens digterkonge i Lund.</html>
</entry>
<entry date="1832" type="text">
  <html>Udgiver månedsskriftet <i>Prometheus</i> (ophørt 1834).</html>
</entry>
</events>
