<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1868" type="text">
  <html>Tager filosofikum.</html>
</entry>
<entry date="1871" type="text">
  <html>Oversætter Darwin: <i>Arternes Oprindelse</i>. Færdig i 1872.</html>
</entry>
<entry date="1872" type="text">
  <html>Jacobsen: ,,Mogens'' (novelle, officiel debut).</html>
</entry>
<entry date="1873" type="text">
  <html>Rammes af tuberkulose under Europarejse.</html>
</entry>
<entry date="1873" type="text">
  <html>Modtager Universitetets guldmedalje for afhandling om ferskvandsalger</html>
</entry>
<entry date="1874" type="text">
  <html>Oversætter Darwin: <i>Menneskets Afstamning</i>. Færdig i 1875.</html>
</entry>
<entry date="1876" type="text">
  <html>Jacobsen: <i>Fru Marie Grubbe</i> (roman).</html>
</entry>
<entry date="1877" type="text">
  <html>Ny Europarejse.</html>
</entry>
<entry date="1878" type="text">
  <html>Sidste Europarejse.</html>
</entry>
<entry date="1880" type="text">
  <html>Jacobsen: <i>Niels Lyhne</i> (roman).</html>
</entry>
</events>



