<?xml version="1.0" encoding="UTF-8"?>
<events>
<entry date="1556" type="text">
  <html> Flytter fra Vejle til en slægtning i Ribe.</html>
</entry>
<entry date="1561" type="text">
  <html> Bliver student fra Ribe og rejser til København.</html>
</entry>
<entry date="1562" type="text">
  <html> Sendes 3 år til Leipzig for at virke som hovmester for den 15-årige Tycho Brahe.</html>
</entry>
<entry date="1565" type="text">
  <html> Indleder to års studieophold i Wittenberg.</html>
</entry>
<entry date="1570" type="text">
  <html> Opnår et kannike embede i Ribe og begynder sin oversættelse af Saxo.</html>
</entry>
<entry date="1575" type="text">
  <html> Færdiggør Saxo-oversættelsen.</html>
</entry>
<entry date="1578" type="text">
  <html> Ægteskab med den 15-årige Marine som dør i barselssengen samme år.</html>
</entry>
<entry date="1580" type="text">
  <html> Stilling som Kongelig Historiograf.</html>
</entry>
<entry date="1581" type="text">
  <html> Ægteskab med biskop Hans Laugesens datter Mette Hansdatter.</html>
</entry>
<entry date="1596" type="text">
  <html> Mister embedet som prælat og indleder et stille liv i Ribe.</html>
</entry>
</events>
